{% extends "base.html" %}

{% load static %}

{% block content %}
<meta charset="GMT-6">

<link rel="stylesheet" href="{% static 'styles/signup2.css' %}">

<form method="post" action="">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.username.id_for_label }}"></label>
        {#} {{ form.username }} {#}
    </div>


    <div class="form-group">
        <label for="{{ form.password1.id_for_label }}"></label>
       {#} {{ form.password1 }} {#}
    </div>

    <div class="form-group">
        <label for="{{ form.password2.id_for_label }}"></label>
       {#} {{ form.password2 }} {#}
        {{ form }}

    </div>

    <button type="submit" class="btn btn-primary">Registrarse</button>
     <!-- Botón para regresar a la página anterior -->
     <button type="button" onclick="history.back()" class="btn btn-secondary align-right">Regresar</button>
    </form>

{% endblock %}