{% extends "base.html" %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/envio.css' %}">
</head>
<body>
    <div class="form-container">
        <form method="POST" class="my-form">
            {% csrf_token %}

            {{ form.as_p }}
            <a href="{% url 'pedidos:procesar_pedido' %}"><button type="submit" class="submit-button">Enviar</button></a>
            {{ mensaje }}

        </form>
    </div>
</body>
</html>

{% endblock %}