/* Estilos generales */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    padding-top: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #055160;
    align-items: stretch;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-success {
    background-color: #007bff;
    color: #fff;
}

.btn-success:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #ff6347; 
    color: #fff;
}

.btn-secondary:hover {
    background-color: #ff4500; 
}


.align-right {
    margin-left: 210px;
}