{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    .btn{
        background-color: #022f38;
    }
    .btn:hover{
        background-color: #12355a;
    }
</style>
<div class="container">
<div class="row">
    {% for producto in productos %}
    <div class="col">

    <!-- Contenido principal -->
                <div class="card mb-4">
                    <img src="{{ producto.imagen.url }}" class="card-img-top">
                    <div class="card-body">
                        <h2 class="card-title">Marca: {{producto.marca}}</h2>
                        <p class="card-text">Modelo: {{producto.modelo}}</p>
                        <p class="card-text">Nombre: {{producto.nombre}}</p>
                        <p class="card-text">Talla: {{producto.talla}} US</p>
                        <p class="card-text">Color: {{producto.color}}</p>
                        <p class="card-text">Precio: ${{producto.precio}} </p>
                        <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Comprar</a>

                    </div>
                </div>
            
        </div>

            {% endfor %}
        
</div>
</div>
{% endblock %}